<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuprofe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuProfe">
        <activity
            android:name=".MensajeBienvenidaProfe"
            android:exported="false" />
        <activity
            android:name=".MensajeFinal"
            android:exported="false" />
        <activity
            android:name=".FechaTutoria"
            android:exported="false" />
        <activity
            android:name=".Ubicacion"
            android:exported="false" />
        <activity
            android:name=".DescripcionTema"
            android:exported="false" />
        <activity
            android:name=".EleccionTema"
            android:exported="false" />
        <activity
            android:name=".Profes"
            android:exported="false" />
        <activity
            android:name=".Usuario"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>